.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.newlog {
  display: flex;
  flex-direction: column;
  border: solid 2px rgb(56, 126, 192);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  padding: 30px;
}
